# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Startklar\OneDrive - Universität Basel\Uni\Sem4\StrukturInterpretationProgramme_Seminar\interpreter\privLispInterpreter\LispInterpreter_cpp_olivier_mattmann\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
